.title {
  text-align: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  mat-form-field {
    width: 100%;
  }
}

.buttons {
  display: flex;
  padding-bottom: 20px;
  justify-content: flex-end;
  gap: 10px;

  button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
}
