.modal-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.buttons {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;

  button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
}
